<head>
    <link rel="stylesheet" href="/catalogue.css">
</head>
<body>
    <main class="main-wrapper">
         <div class="topheader">
            <a href="/">
                <img src="/assets/imgs/pata.png" alt="a silhouette of a dog paw">
            </a>
             <h1 class="catalogue-topheader">Nuestros productos</h1>
             
         </div>
        <% if (locals.prods) { %>

                <h2 class="catalogue-underheader">Accesorios</h2>
                <div class="list accesorios">
                    <ul>
                        <% prods.forEach(function(item){ %>
                            <li><%= item.name %>
                                <% if(item['imgsrc']){ %>
                                    <img src="<%=item['imgsrc']%>" alt="accesorio para mascota" class="catalogue-image">
                                <% } %>
                                <button>
                                    <a href="/comprar">Comprar</a>
                                </button>
                                    
                            </li>
                        <% }) %>
                    </ul>
                </div>
     <% } %>
    </main>
</body>