<form action="/buy" method="GET">
    <%- include("partials/errors.ejs") %>
    <label for="name">Your name:</label>
    <input type="text" id="name">
    <label for="password" id="password">Your password:</label>
    <input type="password" name="password" id="password">
    <button type="submit">submit</button>
</form>