<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta Directa</title>
</head>
<body>
    <h1>Venta Directa Pet Shop</h1>
    <nav class="navbar">
        <ul>
            <li><a href="/perro">Todo para tus perros</a></li>
            <li><a href="/gato">Todo para tus gatos</a></li>
            <li><a href="/accesorios">Accesorios!</a></li>
            <li><a href="/juguetes">Juguetes</a></li>
            <li><a href="/alimentos">Alimentos</a></li>
        </ul>
    </nav>
    <main>
        <div class="destacado">
            La más amplia variedad en productos y alimentos de primera calidad!
        </div>
    </main>
    
</body>
</html>