<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/slideshow.css">
    <title>slideshow</title>
</head>
<body>
    <div>
        <ul class="container">
            <li class="list-item 1" focused="true">One</li>
            <li class="list-item 2">Two</li>
            <li class="list-item 3">Three</li>
            <li class="list-item 4">Four</li>
        </ul>
        <button class="next-button">next</button>
        <button class="previous-button">previous</button>
    </div>
</body>
<script>
    const listItems = document.querySelectorAll(".list-item");

    const nextButton = document.querySelector(".next-button")
    nextButton.addEventListener('click', slide().next);
    const previousButton = document.querySelector(".previous-button")
    previousButton.addEventListener('click', slide().previous);

    function slide(){
        next = () => {
            const ul = document.querySelector(".container");
            const slides = document.querySelectorAll(".list-item");
            const firstItem = ul.firstElementChild;
            const duplicatedItem = firstItem.cloneNode(true);

            console.log(slides)
            ul.firstElementChild.style.transform = 'translateX(-100%)';
            slides[1].setAttribute('focused', true);
            slides[1].setAttribute('next', false);
            ul.appendChild(duplicatedItem).setAttribute('focused', false);
            ul.removeChild(ul.firstElementChild);
        }
        previous = () => {

            const ul = document.querySelector(".container");
            const slides = document.querySelectorAll(".list-item");

            const firstItem = ul.firstElementChild;
            const duplicatedItem = firstItem.cloneNode(true);
            console.log(slides);


            ul.firstElementChild.style.transform = 'translateX(100%)';
            const lastElement = ul.lastElementChild;
            ul.removeChild(ul.lastElementChild)
            ul.removeChild(ul.firstElementChild);
            duplicatedItem.setAttribute('focused', false);
            ul.prepend(duplicatedItem)
            ul.prepend(lastElement);
            ul.firstElementChild.setAttribute('focused', true);
        }
            //console.log(ul.children);
        return {next, previous};
    }
  
</script>
</html>